body {
  font-family: arial;
  padding: 0;
  margin: 0;
  background-color: rgb(200, 200, 200);
}

input {
  font-size: 20px;
  background-color: transparent;
  border: none;
  /* text-align: center; */
}

canvas {
  /*max-width: 1300px;*/
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(167, 167, 167);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0e72a0;
  color: white;
}

.docs {
  margin-left: 100px;
  margin-right: 100px;
}
/*
.mainButtonPreset{
  outline:none;
  z-index: 2;
  position: sticky;
  border: none;
  background:rgba(200,200,200,0.3);
  backdrop-filter: blur(5px);
  width: 70;
  height:70;
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);

}
.backGroundPencil{
  background-image: url('image/SDLine.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  top: 91%;
  left:2%;
}
*/
.newMainButtonPreset{
  position:relative;
  margin:10px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:transparent;
  outline:none;
  border:none;
  
}

.newSubMainPreset{
  position:relative;
  margin:20px;
  width:fit-content;
  min-width:100px;
  height:50px;
  padding-left:10px;
  padding-right:10px;
  border-radius:30px;
  background:rgb(255, 218, 184);
  outline:none;
  border:none;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.13), 0 5px 6px 0 rgba(0,0,0,0.14);
  
}

.newSubMainPreset p{
  font-family:'Nunito';
  color:rgb(193, 111, 34);
  font-weight: bold;
}

.newSubMainPreset:hover{
  transition-duration: 0.5s;
  background:rgb(254, 207, 162);
}


.newMainButtonPreset i{
  color:rgb(193, 111, 34)
}

.newMainButtonPreset:hover{
  transition-duration: 0.5s;
  background:rgb(240, 218, 186);
}

.flexWrapContainerMainButton{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}

.flexWrapContainerSubMain{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

#mainButtonContainer{
  margin:10px;
  position:fixed;
  z-index:5;
  top:30%;
  left:10px;
  border:1px solid rgb(250, 237, 225);
  width:fit-content;
  background:rgb(255, 218, 184, 0.6);
  backdrop-filter: blur(15px);
  border-radius:40px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.13), 0 5px 7px 0 rgba(0,0,0,0.14);
}

#subMainLineContainer{
  margin:10px;
  position:fixed;
  z-index:5;
  top:1%;
  left:17%;

  width:fit-content;
  background:transparent;
  
  border-radius:40px;
  
}